<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http:///www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>
    <div th:fragment="footer">
        <footer>
            <div class="footer-link__wrapper">
                <div class="footer-social-area">
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-facebook-square"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="footer__copyright">
                Copyright <i class="fa-solid fa-copyright"></i> 2022 BlogTruyen
            </div>
        </footer>
    </div>
</body>
</html>