<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.1.1-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/userManage.css}">
</head>
<body>
<div class="app">

    <div sec:authorize="hasAuthority('ADMIN')">
        <div th:replace="fragments/adminNav::nav"></div>
    </div>
    <div sec:authorize="hasAuthority('USER')">
        <div th:replace="fragments/userHeader::header"></div>
        <div th:replace="fragments/userNav::nav"></div>
    </div>
    <div sec:authorize="isAnonymous()">
        <div th:replace="fragments/userHeader::header"></div>
        <div th:replace="fragments/userNav::nav"></div>
    </div>
    <section class="content mt-5">
        <div class="container">
            <div class="user__manage-info p-3">
                <div class="row">
                    <div class="col-4">
                        <div class="avatar-wrapper mt-4">
                            <img th:src="@{/images/default-avatar.jpg}" alt="" class="avatar">
                        </div>
                        <div sec:authorize="hasAuthority('USER')">
                            <div class="button-wrapper text-center mt-4"
                                 th:if="${user.getUsername().equals(#authentication.getPrincipal().getUsername())}">
                                <a class="btn btn-secondary user-info__button mb-3" th:href="@{'/user/updateInfo/' + ${user.username}}">
                                    Chỉnh sửa thông tin
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="user-info mt-5 ml-5">
                            <div class="user-info__item mb-2 text-white">
                                <label for="username" class="user-info__label">Tên người dùng:</label>
                                <span class="user-info__value ml-3" id="username" th:text="${user.username}"></span>
                            </div>
                            <div class="user-info__item mb-2 text-white">
                                <label for="email" class="user-info__label">Email:</label>
                                <span class="user-info__value ml-3" id="email" th:text="${user.email}"></span>
                            </div>
                            <div class="user-info__item mb-2 text-white">
                                <label for="fullName" class="user-info__label">Họ tên:</label>
                                <span class="user-info__value ml-3" id="fullName"
                                      th:text="${user.fullName==null ? 'Chưa có thông tin' : user.fullName}"></span>
                            </div>
                            <div class="user-info__item mb-2 text-white">
                                <label for="phone" class="user-info__label">SĐT:</label>
                                <span class="user-info__value ml-3" id="phone"
                                      th:text="${user.phone==null ? 'Chưa có thông tin' : user.phone}"></span>
                            </div>
                            <div class="user-info__item mb-2 text-white">
                                <label for="address" class="user-info__label">Địa chỉ:</label>
                                <span class="user-info__value ml-3" id="address"
                                      th:text="${user.address==null ? 'Chưa có thông tin' : user.address}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row mb-5">
                <div class="col" sec:authorize="hasAuthority('USER')">
                    <a th:href="@{'/user/viewPost/' + ${user.getUsername()}}" class="btn btn-primary mr-3">Truyện đã đăng</a>
                    <a th:href="@{'/user/viewLike/' + ${user.getUsername()}}" class="btn btn-primary mr-3">Truyện đã thích</a>
                </div>
                <div class="col" sec:authorize="isAnonymous()">
                    <a th:href="@{'/user/viewPost/' + ${user.getUsername()}}" class="btn btn-primary mr-3">Truyện đã đăng</a>
                    <a th:href="@{'/user/viewLike/' + ${user.getUsername()}}" class="btn btn-primary mr-3">Truyện đã thích</a>
                </div>
                <div class="col" sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{'/admin/users/viewPost/' + ${user.getUsername()}}" class="btn btn-primary mr-3">Truyện đã đăng</a>
                    <a th:href="@{'/admin/users/viewLike/' + ${user.getUsername()}}" class="btn btn-primary mr-3">Truyện đã thích</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-5">
                        <h3 class="user__manage-title text-center mb-4"> Truyện đã đăng</h3>
                        <table class="table table-striped table-inverse text-white user__manage-table">
                            <thead class="thead-inverse thead-dark">
                            <tr>
                                <th>STT</th>
                                <th>Tên truyện</th>
                                <th>Số lượt like</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="text-dark" th:each="blog:${blogs}">
                            <tr>
                                <td th:text="${blog.blogId}"></td>
                                <td th:text="${blog.title}"></td>
                                <td th:text="${blog.likedUser.size()}"></td>
                                <td sec:authorize="hasAuthority('USER')"><a th:href="@{'/blog/view/' + ${blog.blogId}}">Xem truyện</a></td>
                                <td sec:authorize="isAnonymous()"><a th:href="@{'/blog/view/' + ${blog.blogId}}">Xem truyện</a></td>
                                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{'/admin/blogs/view/' + ${blog.blogId}}">Xem truyện</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mr-1 d-flex justify-content-center">
            <nav aria-label="Page navigation"
                 th:if="${blogs.totalPages>0}">
                <ul class="pagination justify-content-center">
                    <li th:class="${1==blogs.number+1} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{'/user/viewPost/' +${user.username}(size=${blogs.size},page=${1})}"
                           sec:authorize="hasAuthority('USER')">
                            First
                        </a>
                        <a class="page-link" th:href="@{'/user/viewPost/' +${user.username}(size=${blogs.size},page=${1})}"
                           sec:authorize="isAnonymous()">
                            First
                        </a>
                        <a class="page-link" th:href="@{'/admin/users/viewPost/' +${user.username}(size=${blogs.size},page=${1})}"
                           sec:authorize="hasAuthority('ADMIN')">
                            First
                        </a>
                    </li>
                    <li class="page-item active"
                        th:each="pageNumber:${pageNumbers}"
                        th:if="${blogs.totalPages}>1"
                        th:class="${pageNumber==blogs.number+1} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{'/user/viewPost/' +${user.username}(size=${blogs.size},page=${pageNumber})}"
                           th:text="${pageNumber}" sec:authorize="hasAuthority('USER')">
                        </a>
                        <a class="page-link" th:href="@{'/user/viewPost/' +${user.username}(size=${blogs.size},page=${pageNumber})}"
                           th:text="${pageNumber}" sec:authorize="isAnonymous()">
                        </a>
                        <a class="page-link" th:href="@{'/admin/users/viewPost/' +${user.username}(size=${blogs.size},page=${pageNumber})}"
                           th:text="${pageNumber}" sec:authorize="hasAuthority('ADMIN')">
                        </a>
                    </li>
                    <li th:class="${blogs.totalPages==blogs.number+1} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{'/user/viewPost/' +${user.username}(size=${blogs.size},
                        page=${blogs.totalPages})}" sec:authorize="hasAuthority('USER')">
                            Last
                        </a>
                        <a class="page-link" th:href="@{'/user/viewPost/' +${user.username}(size=${blogs.size},
                        page=${blogs.totalPages})}" sec:authorize="isAnonymous()">
                            Last
                        </a>
                        <a class="page-link" th:href="@{'/admin/users/viewPost/' +${user.username}(size=${blogs.size},
                        page=${blogs.totalPages})}" sec:authorize="hasAuthority('ADMIN')">
                            Last
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>