<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.1.1-web/css/all.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/userList.css}">
</head>
<body>
<div th:replace="fragments/userHeader::header"></div>
<div th:replace="fragments/userNav::nav"></div>
<section class="content mt-5 mb-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-8">
                <h3 class="author__wrapper">
                    <span class="author__title">Danh sách tác giả</span>
                </h3>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-8">
                <form class="form-inline my-2 my-lg-0" th:action="@{/user/search}">
                    <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm tác giả" name="keyword">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <a th:href="@{'/user/viewPost/' + ${user.getUsername()}}" class="author__link" th:each="user:${users}">
                    <div class="author__info-wrapper">
                        <div class="author__info mt-3 mb-3">
                            <span class="author__name mr-1" th:text="${user.username}"></span>
                            <span class="">&lpar;</span>
                            <span th:text="${user.getBlogs().size()}"></span>
                            <span>truyện</span>
                            <span class="">&rpar;</span>
                        </div>
                    </div>
                </a>
                <div class="row mt-4 float-right mr-1">
                    <nav aria-label="Page navigation"
                         th:if="${users.totalPages>0}">
                        <ul class="pagination justify-content-center">
                            <li th:class="${1==users.number+1} ? 'page-item active' : 'page-item'">
                                <a class="page-link" th:href="@{/user(size=${users.size},page=${1})}">
                                    First
                                </a>
                            </li>
                            <li class="page-item active"
                                th:each="pageNumber:${pageNumbers}"
                                th:if="${users.totalPages}>1"
                                th:class="${pageNumber==users.number+1} ? 'page-item active' : 'page-item'">
                                <a class="page-link" th:href="@{/user(size=${users.size},page=${pageNumber})}" th:text="${pageNumber}">
                                </a>
                            </li>
                            <li th:class="${users.totalPages==users.number+1} ? 'page-item active' : 'page-item'">
                                <a class="page-link" th:href="@{/user(size=${users.size},page=${users.totalPages})}">
                                    Last
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>